---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<!-- Ongoing Research Section -->
<h2>Ongoing Research</h2>
<hr />

<div class="archive__item">
  <h3 class="archive__item-title">
    Developing a full-cycle CAV platooning methodology for mixed traffic on motorway
  </h3>

  <p>
    Developing a finite-state machine (FSM) based Full-Cycle Platooning Framework (FCPF) that models the continuous lifecycle of CAV platoons, 
    specifically leveraging platoon formation and dissolution algorithms. The framework was implemented in SUMO using PLEXE extension, and 
    adopted empirically calibrated IDM model for CAV behaviour modelling.
    [currently under review at IEEE T-ITS]
  </p>
</div>

<div class="archive__item">
  <h3 class="archive__item-title">
    Robust Cooperative Adaptive Cruise Control with delay compensation and smooth switching at communication interruption
  </h3>

  <p>
    Developing a predictor based method to compensate for the delay in V2V communication. Investigating the smooth and stable switch control between CACC 
    and ACC at communication interruption using sliding mode controller.
  </p>
</div>

